.dashboard-container {
  display: flex;
}

.sidebar {
  width: 20%;
  background: #f0f0f0;
  padding: 10px;
}

.main-content{
  width: 80%;
  padding: 10px;
}

.search-form {
  margin-bottom: 20px;
}

.data-table table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.data-table th {
  background: #f8f8f8;
}
.data-table td {
  color: rgba(85, 142, 248, 0.377);
}
.data-table tbody tr:nth-child(odd) {
  background-color:beige;
}
.data-table tbody tr:nth-child(even) {
  background-color: aliceblue;
}